target
/build
.gradle
*.class
.project
.classpath
.settings
.cache
.cache-main
.cache-tests
rebel.xml
/bin
/src/main/webapp/WEB-INF/app/main.css
/src/main/webapp/WEB-INF/app/main.js
/logs
/web3-core/data
/web3-web/data
/web3-main/data
.idea
backup*.bz2
node_modules

*Css.ts
web/css/bootstrap.ts
/chat